*{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

ul{
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}

/*it overflows!!*/

.content_1{
    background-color: rgba(6,95,164,255);
    height:80vh; 
    display: flex; 
    justify-content: center;
    align-items:center;
    gap:60px;
}

.title{
    font-size: 14vh;
    margin-top: 13vh;
    margin-right: 30vh;
    color:#ced1c6;
    font-weight: 300;
    margin-bottom:20vh
}



/*.title_picture_container{
    background-color: rgba(206, 209, 198, 0.8);
    height: 50vh;
    width: 40vh;
    margin-top: 10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.building_pic{
    position:relative;
    height:40vh;
    width: auto;
    margin-bottom: 2vh;
    border: 0.5vh grey;
}*/

.icarus{
    height:40vh;
    width: auto;
    margin-bottom: 10vh;
}

.content_2{
    background-color: rgb(231, 204, 250);
    height: 50vh;
}

.content_3{
    height: 85vh;
    display:flex;
}

.drinks{
    width:30vw;
    background-color: rgb(219, 248, 185);
}

.weather{
    width:70vw;
    background-color: rgb(200, 228, 236);
}

/*
.header{
    position: fixed;
    width: 100vw;
}
dipare o parte din scris si nu stiu de ce
*/




.header,
.footer{
    background-color: rgba(6,95,164,255);
    padding:15px;
    height: 3vh;
}



.matisse{
    height: 4vh;
    border-radius: 2vh;
}

.right-links,
.left-links{
    display: flex;
    justify-content: center;
    gap: 3vh;
}