*{
    margin:0px;
    padding:0px;
}

/*AS FACE TOTUL 80% DIN CAT E ACUM*/

body{
   
    font-family: 'Inconsolata', monospace;
}

ul{
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color:white;
}


.content_1{
    background-color: rgba(6,95,164,255);
    height:700px; 
    display: flex; 
    justify-content: center;
    align-items:center;
    gap:60px;
    
}

.border{
    display: flex; 
    height: 1px; 
    align-items: center;
    justify-content: center;  
    gap:0;
}

/*REZOLVA RESPONSIVENESS-UL*/

.border-left,
.border-right{
    height:1px;
    width: 5vw;
    background-color:  rgba(6,95,164,255);
}

.border-middle{
    height:1px;
    width: 90vw;
    background-color: white;
}


.title{
    font-size: 150px;
    margin-top: 180px;
    margin-right: 250px;
    color:#ced1c6;
    font-weight: 300;
    margin-bottom:230px;
}


.icarus{
    height:400px;
    width: auto;
    margin-bottom: 80px;
}

.content_2{
    background-color: rgba(6,95,164,255);
    height: 720px;
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 72px;
}

.content_3{
    height: 1000px;
    display:flex;
}

.drinks{
    width:500px;
    background-color: rgba(254,84,24,255);
    display:flex;
 
}



.weather{
    flex:1;
    background-color: rgb(200, 228, 236);
}


.header{
    position: fixed;
    width:100vw;
}


.content2_item{
    display:flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.content2_text{
    color:white;
    font-size: larger;
    font-weight: 400;
}

.pescado,
.tat,
.sol{
    height: 300px;
    border-top: 28px white solid;
    border-left: 28px white solid;
    border-right: 28px white solid;
    border-bottom: 56px white solid;


}

.header,
.footer{
    background-color: rgba(6,95,164,255);
    height: 70px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.matisse{
    height: 50px;
    border-radius: 25px;
}

.right-links,
.left-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}